@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Stylish&display=swap');
* {
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: normal;  
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}